beautifulsoup4==4.10.0
embeddings==0.0.8
gensim==4.1.2
google_search==1.1.1
googlesearch_python==1.0.1
ijson==3.1.4
kneed==0.7.0
langdetect==1.0.9
matplotlib==3.3.4
nltk==3.6.1
numpy==1.21.2
pandas==1.2.3
pymongo==3.10.1
PyYAML==6.0
requests==2.25.1
Romanize==1.0.2
scholarly==1.4.4
scikit_learn==1.0.2
semanticscholar==0.2.1
sentence_transformers==2.1.0
torch==1.9.1
transformers==4.14.1
wget==3.2
